numpy=1.17.0
pandas
tkinter
tkinter.ttk
tkinter.filedialog
matplotlib
matplotlib.pyplot
matplotlib.legend_handler.HandlerLine2d
matplotlib.dates
matplotlib.ticker
matplotlib.rcParams
PyPDF2
requests
time
pickle
datetime
multiprocessing
traceback
warnings
stat
ulmo
geopy
geopy.distance
geopy.distance.great_circle
pylab
ulmo=0.8.4
