numpy='1.17.0'
matplotlib==3.*
seaborn==0.10.1
pandas
tkinter
tkinter.ttk
matplotlib
PyPDF2
requests
tkinter.filedialog
time
pickle
datetime
multiprocessing
traceback
warnings
stat
ulmo
geopy
geopy.distance
geopy.distance.great_circle
matplotlib.pyplot
matplotlib.legend_handler.HandlerLine2d
matplotlib.dates
matplotlib.ticker
matplotlib.rcParams
pylab
